bind 0.0.0.0
port {{ redis_port }}
tcp-backlog {{ redis_tcp_backlog }}
tcp-keepalive {{ redis_tcp_keepalive }}

{% if (sentinel_enabled and not cluster_enabled) and groups[hostvars[inventory_hostname].group_names[0]][0] != inventory_hostname %}
replicaof {{ groups[hostvars[inventory_hostname].group_names[0]][0] }} {{ redis_port }}
replica-read-only {{ redis_replica_read_only }}
{% endif %}

loglevel {{ redis_log_level }}
logfile {{ redis_log_file }}

maxmemory {{ redis_max_memory }}
maxmemory-policy {{ redis_max_memory_policy }}
maxclients {{ redis_maxclients }}

{% if cluster_enabled is defined and (cluster_enabled and not sentinel_enabled) %}
cluster-enabled yes
cluster-config-file {{ cluster_config_file }}
cluster-node-timeout {{ cluster_node_timeout }}
cluster-replica-validity-factor {{ cluster_replica_validity_factor }}
cluster-migration-barrier {{ cluster_migration_barrier }}
cluster-require-full-coverage {{ cluster_require_full_coverage }}
cluster-replica-no-failover {{ cluster_replica_no_failover }}
{% else %}
cluster-enabled no
{% endif %}

databases {{ redis_num_of_databases }}
{% if redis_enable_rdb is defined and redis_enable_rdb %}
{% for item in redis_rdb_params %}
save {{ item }}
{% endfor %}
stop-writes-on-bgsave-error {{ redis_stop_writes_on_bgsave_error }}
rdbcompression {{ redis_enable_rdbcompression }}
rdbchecksum {{ redis_enable_rdbchecksum }}
dbfilename dump.rdb
{% endif %}

appendonly {{ redis_enable_appendonly }}
{% if redis_enable_appendonly is defined and redis_enable_appendonly != "no" %}
appendfilename appendonly.aof
appendfsync {{ redis_appendfsync }}
aof-load-truncated {{ redis_aof_load_truncated }}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}
no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
{% endif %}

{% if redis_enable_latency_monitor %}
latency-monitor-threshold {{ redis_latency_monitor_threshold }}
{% endif %}
slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
slowlog-max-len {{ redis_slowlog_max_len }}

daemonize {{ redis_daemonize }}
pidfile /var/run/redis.pid
dir {{ redis_data_dir }}
